.wrapper {
    border:1px black solid;
    padding: 20px;
    padding-bottom: 50px;
    border-radius: 5%;
    letter-spacing: 2px;
    /* position: absolute; */
    z-index: 2;
    margin-top: -40%;
}

.tableWrapper {
    margin: 50px;
}

* {
    box-sizing: border-box;
  }
