html, body {
    height: 100%;
}

.myContainer {
    margin-top: -40%;
}

 .image-background {
     background: url("../assets/login-image.jpg ") no-repeat center fixed;
     background-size: cover;
     filter: blur(8px);
     height: -webkit-fill-available;
     position: relative;

 }
