.debateBanner{
    border-radius: 50%;
    box-shadow: inset 7px -14px 10px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.debatesTable {
    text-align: center;
}

.Author {
    text-align: center;
}

.debatersBox {
    background-color: aliceblue;
    border-radius: 10%;
    opacity: 0.8;
    border: 1px solid black;
    margin:20%;
}

.debateInfoBox{
    font-size: 25px;
    color: white;
    border-radius: 10%;
    text-shadow: 1px 1px 10px white;
    line-height: 2;  
    
}   
